@font-face {
    font-family: "Inconsolata-VariableFont_wdth";
    src: url(../fonts/static/Inconsolata-Bold.ttf),
        url(../fonts/static/Inconsolata-ExtraBold.ttf),
        url(../fonts/static/Inconsolata-Medium.ttf),
        url(../fonts/static/Inconsolata-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Inconsolata-VariableFont_wdth";
    box-sizing: border-box;
}

body {
    background-image: url('../img/background-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;

}

.container {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
}


/* row */
.row {
    padding-top: 2rem;

}

.row .logo-full {
    width: 150px;
}

.row h1 {
    font-size: 40px;
    padding-top: 2rem 0;
    padding-bottom: 10px;
}

.row .conference {
    color: #ccc;
    margin-bottom: 20px;
}

.row .col-sm-6 {
    display: flex;
    justify-content: center;

}

/* formulario */

form {

    width: 350px;
}

.form-group-profil {
    height: 90px;
    margin-bottom: 0.8rem;
    border: 1px dashed rgb(90, 90, 90);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-group-profil label {
    display: flex;
    align-items: start;
    color: #ccc;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0.2rem;
    color: #ccc;
    margin-top: 1.4rem;
}
/* validate */
.form-group span{

    display: none;
    justify-content: start;
    margin-top: 3px;
    color: #f8610fb3;
}
/* validate */

.form-group input {
    z-index: 100;
    width: 100%;
    height: 35px;
    background-color: rgba(73, 72, 72, 0.25);
    backdrop-filter: blur(10px);
    border: none;
    outline: 2px solid #807e7e;
    padding-left: 10px;
    pointer-events: auto;
    color: #fff;
}

input,
button {
    border-radius: 4px;

}

.form-group label {
    display: flex;
    margin-bottom: 10px;
    color: #ccc;
    text-transform: capitalize;

}

button {
    width: 100%;
    height: 40px;
    background-color: #f67464;
    z-index: 100;
    border: none;
    margin-top: 10px;
    font-size: 12px;

}

/* feito */
.bottom img {
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.line-hei {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: absolute;
    top: 0;

    z-index: -1;
}

.line-hei img {

    width: 100%;
    height: 100%;
}

.top-line img {
    position: absolute;
    right: 0;
    top: 80px;


}

.bottom #mobile-patters {
    display: none;
}



.circle-img {
    position: absolute;
    top: 15rem;
    right: 10rem;

}

#img-card {
    height: 400px;
    display: flex;
    justify-content: center;
    
    
}
.row h1>span,.row>p>span{
    background: linear-gradient(80deg, #f66700, #c9b0bc); /* degradê de laranja para rosa */
    -webkit-background-clip: text; /* faz o background afetar apenas o texto */
    -webkit-text-fill-color: transparent; /* torna o texto transparente para mostrar o degradê */
}
.box-group-profil span{
    font-size: 12px;
    margin-bottom: 10px;
    color: #8f8e8e;
    
}
.card-img {
    background-image: url(../img/pattern-ticket.svg);
    width: 100%;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 1.5rem 2rem;
    position: relative;
   

}

.form-group-profil img{
    background-color: rgb(30, 30, 31);
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

/* responsividade */

@media(max-width:500px) {
    .row h1 {
        font-size: 22px;
        padding-top: 2rem 0;
        padding-bottom: 10px;
        text-align: center;
    }

    .row {
        text-align: center;
    }

    .row .logo-full {
        margin-bottom: 14px;
    }

    .line-hei {
        top: 0;
        
    }

    .line-hei img {
        position: absolute;
        top: -200px;


    }

    .row-conferences {
        display: flex;
        justify-content: center;
    }

    .row .conference {
        font-size: 15px;
        width: 55%;
        text-align: center;
    }

    .top-line img {
        width: 150px;
        right: 5px;
        top: 10px;
    }

    form {
        padding: 10px 2rem;
    }

    form .form-group {
        width: 100%;
    }

    main {
        display: flex;
        justify-content: center;
        height: 100dvh;
        align-items: center;
        
    }

    .bottom #desktop-patters {
        display: none;
    }

    .bottom #mobile-patters {
        display: block;
        width: 300px;
    }


}

#uploadFull{
    display: none;
    color: #f67464;
}


